@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    border-radius: 1em;
    height: 8em;
    margin: 0.5% 1%;
    background: linear-gradient(90deg, rgba(180, 154, 58, 1) 0%, rgba(255, 157, 157, 1) 50%, rgba(212, 163, 95, 1) 100%);
}

.main_header h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: Dancing Script;
}

.main_header .header_search {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease;
}

.header_search:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.header_search::placeholder {
    color: #888;
    font-style: italic;
}